<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
        <div class="poem-form">
            <form th:action="@{/admin/poems}" th:object="${poem}" method="post">
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}" placeholder="Poem title" required />

                <label for="author">Author:</label>
                <input type="text" id="author" th:field="*{author}" placeholder="Poem author" required />

                <label for="genre">Genre:</label>
                <input type="text" id="genre" th:field="*{genre}" placeholder="Poem genre" required />

                <label for="content">Content:</label>
                <textarea id="content" th:field="*{content}" placeholder="Poem content" required></textarea>

                <button type="submit">Add Poem</button>
            </form>
        </div>

        <div th:each="poem : ${poems}" class="poem">
            <div class="poem-header">
                <h2 th:text="${poem.title} ?: 'No title'"></h2>
                <p><strong>Genre:</strong> <span th:text="${poem.genre} ?: 'No genre'"></span></p>
                <p><strong>Author:</strong> <span th:text="${poem.author} ?: 'No author'"></span></p>
            </div>
            <div class="poem-body">
                <p th:text="${poem.content} ?: 'Content is missing'"></p>
            </div>
            <div class="poem-bottom">
                <p><span th:text="${#temporals.format(poem.createdAt, 'dd-MM-yyyy')}">01-01-2024</span></p>
                <form th:action="@{/admin/poems/{id}(id=${poem.id})}" method="post" th:object="${poem}">
                    <input type="hidden" name="method" value="delete" />
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>